#osn {
    width: 495px;
    height: 600px
}


.blue_abz {
    text-align: center;
    color: blue;
    font-size: 36px;
    font-weight: bold;
    
}
.wavy {
    text-decoration: underline wavy;
    text-decoration-color: blue;
}

.interval {
   letter-spacing: 10px; 
}

.pon {
    text-align: right;
    
}

.mat {
   text-align: center;
    color:#0000FF;
}